# Python
__pycache__/
vivid/__pycache__/
events/__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
*.pot

# Environment
.env
venv/
env/
ENV/
.venv
is/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
